/* --------------------------------- imports --------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

/* -------------------------------------------------------------------------- */
/*                                  Globales                                  */
/* -------------------------------------------------------------------------- */

html {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1c1e27;
  background-image: url("./img/fondo40.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: rgb(255, 255, 255);
  font-family: "Roboto", sans-serif;
}

h1,
.contacto h2 {
  font-weight: 300;
  font-size: 1.6rem;
  margin: 1rem 0 0 0;
}
p {
  font-weight: 100;
  font-size: 0.9rem;
  line-height: 1.5;
}

/* -------------------------------------------------------------------------- */
/*                               SUBCOMPONENTES                               */
/* -------------------------------------------------------------------------- */

/* ---------------------------------- Logo ---------------------------------- */
.logo {
  margin: 1rem auto 1rem auto;
  display: block;
  width: 80%;
}
@media (min-width: 768px) {
  .logo {
    width: 80%;
  }
}

.logosti {
  position: absolute;
  left: 85%;
  top: 10%;
  z-index: 5;
  display: none;
}
/* ---------------------------------- Menu ---------------------------------- */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  display: none;
  width: 40%;
}
.menu-listado {
  display: flex;
  gap: 2rem;
  justify-content: flex-start;
}
.menu-listado li {
  list-style: none;
}

@media (min-width: 768px) {
  .header {
    margin: 1.5rem;
  }
  .menu {
    display: inline;
  }
  .header a {
    width: 60%;
  }

  .menu-listado li a {
    font-size: 1.1rem;
    text-decoration: none;
    color: #fff;
  }
  .menu-listado li a::before {
    padding: 0.5rem;
    background-color: #f19580;
  }
}

@media (min-width: 1279px) {
  .header {
    margin: 1.5rem;
  }
  .menu {
    display: inline;
  }
  .header a {
    width: 30%;
  }
  .menu-listado li a {
    font-size: 1.2rem;
    text-decoration: none;
    color: #fff;
    transition: 0.5s all;
    text-align: center;
  }

}
/* ---------------------------------- Redes --------------------------------- */
.redes {
  width: 80%;
  margin: 1.5rem auto;
  display: flex;
  justify-content: space-around;
}
@media (min-width: 768px) {
  .redes {
    width: 50%;
  }
  .redes img {
    width: 2.5rem;
  }
}

@media (min-width: 1279px) {
  .redes {
    width: 30%;
  }
  .redes img {
    width: 2.5rem;
    transition: 1s all;
    cursor: pointer;
  }
  .redes img:hover {
    transform: scale(1.5);
  }
}

/* --------------------------------- Accion --------------------------------- */
.accion {
  margin: 0 auto;
  width: 75%;
  display: flex;
  flex-direction: column;
}

.titulo-accion-portafolio {
  font-weight: 100;
  font-size: 1.51rem;
}

.botones {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.btn-whatsapp-home,
.btn-portafolio-home,
.laborales,
.academicos,
.personales,
.diseños {
  padding: 0.7rem 1.2rem;
  color: aliceblue;
  text-decoration: none;
  margin: 0.5rem;
  border-radius: 2rem;
  color: #1c1e27;
  font-weight: 700;
  width: 100%;
  text-align: center;
}

.btn-whatsapp-home {
  background-color: #34bf98;
  cursor: pointer;
  line-height: 2;
}

/* Este es el boton portafolio del home*/
.btn-portafolio-home {
  line-height: 2;
  background-color: #f19580;
}

.whatsapp-portafolio {
  background-color: #34bf98;
  padding: 0.5rem;
  width: 50%;
  text-align: center;
  border-radius: 1rem;
  margin-left: 50%;
  font-weight: 500;
}

@media (min-width: 768px) {
  #whatsapp-portafolio {
    width: 70%;
    font-size: 1.4rem;
  }
}

@media (min-width: 1279px) {
  .btn-whatsapp-home,
  .btn-portafolio-home {
    width: 40%;
    line-height: 2;
    font-size: 1.3rem;
    font-weight: 500;
    padding: 0.3rem;
    transition: 1s all;
  }
  .btn-whatsapp-home:hover,
  .btn-portafolio-home:hover {
    /* background-color: #4d2559; */
    /* color: #fff; */
    transform: scale(1.1);
  }
  
  #whatsapp-portafolio {
    width: 50%;
    padding: 0.3rem;
    font-size: 1.4rem;
    transition: 1s all;
    font-weight: 300;
    cursor: pointer;
  }
  #whatsapp-portafolio:hover {
    transform: scale(1.1);
  }
}

/* -------------------------------- CONTACTO -------------------------------- */
/* importante con los pading en los tipo submit y los botones funciona diferente */
.contacto h2 {
  margin: 1.2rem 0 1rem 0;
  text-align: center;
  font-weight: 400;
  color: #34bf98;
}

.formulario-contacto {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 15rem;
}

.formulario-contacto input,
#btn-enviar {
  text-align: center;
  background-color: #1c1e27;
  color: #34bf98;
  padding: 0.8rem 0;
  border: solid 0.1rem #f19580;
  border-radius: 1.5rem;
  width: 15rem;
}

#btn-enviar {
  border: solid 0.1rem #34bf98;
  margin-bottom: 2rem;
  width: 100%;
}

@media (min-width: 768px) {
  .contacto h2 {
    font-size: 2.5rem;
  }
  .formulario-contacto,
  .formulario-contacto input {
    width: 20rem;
    font-size: 1.2rem;
  }
  .formulario-contacto input {
    border: solid 2px #f19580;
  }
  #btn-enviar {
    border: solid 2px #34bf98;
  }
}

@media (min-width: 1279px) {
  .contacto {
    margin: 3rem 0;
  }
  .contacto h2 {
    font-size: 3rem;
    margin: 2rem;
  }
  .formulario-contacto{
    gap: 2.5rem;
  }

  .formulario-contacto,
  .formulario-contacto input {
    width: 25rem;
    font-size: 1.2rem;
  }
  .formulario-contacto input {
    border: solid 2px #f19580;
  }
  #btn-enviar {
    border: solid 2px #34bf98;
    transition: 1s all;
  }
  #btn-enviar:hover {
    transform: scale(1.05);
  }
}
/* ---------------------------- MOSTRAR PROYECTOS --------------------------- */

.proyectos {
  margin: 1.5rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  gap: 1rem;
}
.imagen-proyecto {
  height: 9rem;
  overflow: hidden;
  border: solid 2px #34bf98;
  border-radius: 1rem;
  width: 50%;
}

.imagen-proyecto img {
  width: 100%;
}

.datos-proyecto {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.datos-proyecto h2,
.datos-proyecto p,
.datos-proyecto a {
  margin: 0.2rem;
}

.datos-proyecto h2 {
  margin: 0;
  color: #34bf98;
  font-size: 1rem;
  font-weight: 500;
}

.datos-proyecto p {
  font-size: 0.8rem;
}

.datos-proyecto a {
  margin-top: 0.5rem;
  text-decoration: none;
  color: #f19580;
  font-size: 0.9rem;
}

.logos-proyecto {
  margin-top: 0.5rem;
  display: flex;
  justify-content: flex-start;
  gap: 1.5rem;
}

.logos-proyecto img {
  width: 20%;
}

@media (min-width: 768px) {
  .logos-proyecto img {
    width: 15%;
  }
  .datos-proyecto h2 {
    font-size: 1.5rem;
  }

  .datos-proyecto p {
    font-size: 1.1rem;
  }
  .imagen-proyecto {
    width: 70%;
    height: 12rem;
  }

  .imagen-proyecto img {
    width: 100%;
  }
}
/* -------------------------------------------------------------------------- */
/*                                    HOME                                    */
/* -------------------------------------------------------------------------- */

.main-home {
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-imagen-principal {
  display: none;
}

@media (min-width: 768px) {
  body {
    background-image: url("./img/fondoDesktop.png");
    background-size: contain;
    background-repeat: repeat;
  }
  .main-home {
    padding: 0 4rem;
  }
  .imagenprincipal {
    width: 50%;
  }
  .home-imagen-principal {
    margin: 0 auto;
    display: block;
    width: 90%;
    opacity: 70%;
    border-radius: 0 0 50% 50%;
  }
  .accion {
    width: 50%;
  }
  .accion h1 {
    font-size: 2rem;
  }
  .accion p {
    font-size: 1rem;
  }
}

@media (min-width: 1279px) {
  .accion {
    width: 45%;
  }
  .accion h1 {
    font-size: 3rem;
  }
  .accion p {
    font-size: 1.4rem;
    line-height: 1.8;
  }
  .imagenprincipal {
    width: 40%;
  }
  .home-imagen-principal {
    width: 80%;
  }
}

/* -------------------------------------------------------------------------- */
/*                                 PORTAFOLIO                                 */
/* -------------------------------------------------------------------------- */
.container {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.portafolio-parrafo {
  font-size: 18px;
}

.btn-portafolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  width: 80%;
  text-align: center;
}

.laborales,
.academicos,
.personales,
.diseños {
  font-weight: 500;
  margin: 1rem 0.5rem;
  padding: 1rem 0;
  cursor: pointer;
  width: 80%;
  background-color: #1c1e27;
}

.academicos,
.diseños {
  background-color: #1c1e27;
  border: solid 1px #34bf98;
  color: #34bf98;
}

.laborales,
.personales {
  border: solid 1px #f19580;
  color: #f19580;
}

@media (min-width: 768px) {
  .btn-portafolio {
    width: 50%;
  }
  .accion-portafolio h1 {
    font-size: 2.7rem;
  }
  .accion-portafolio p {
    font-size: 1.5rem;
  }
}

@media (min-width: 1279px) {
  .container {
    height: 180vh;
  }

  .container-portafolio {
    height: 100vh;
  }

  .container-main-portafolio {
    display: flex;
    align-items: center;
    width: 80%;
    margin: 0 auto;
  }
  .accion-portafolio {
    width: 60%;

  }
  .accion-portafolio h1 {
    font-size: 3.5rem;
  }
  .accion-portafolio p {
    font-size: 1.5rem;
  }

  .btn-portafolio {
    width: 40%;
  }
  .laborales,
  .academicos,
  .personales,
  .diseños {
    width: 60%;
    transition: 1s all;
  }
  .laborales:hover,
  .academicos:hover,
  .personales:hover,
  .diseños:hover {
    transform: scale(1.1);
  }

  .container-proyectos{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: 3rem auto;
  }
  .proyectos{
    width: 48%;
  }
  .datos-proyecto h2 {
    font-size: 1.2rem;
    font-weight: 500;
  }
}


/* -------------------------------------------------------------------------- */
/*                                 Animaciones                                */
/* -------------------------------------------------------------------------- */

.animar{
  transition: 1s all;
}

.animar:hover{
  transform: scale(1.05);
}
.animar-dos{
  transition: 1s all;
}

.animar-dos:hover{
  transform: scale(1.2);
  background-color: #4D2559;
  padding: 0.5rem;
  border-radius: 0.5rem;
}